
<div class="category-tab">
  <div class="col-sm-12">
    <ul class="nav nav-tabs" >
      <% @categories.each_with_index do |category, index| %>
        <li class="<% if index == 0%>active<% end %>" >
        <%# binding.pry %>
          <%= link_to category_path(id:category.id), id:category.id, data: { remote: true} do %>
            <%= category.name %>
          <% end %>
          </a>
        </li>
      <% end%>
    </ul>                        
  </div>
  <%#= render 'category_tab_list'%>
  <div id = "content" class="tab-content">
    <div class="tab-pane fade active in" id = "<%= @categories.first.name %>" >
      <% @categories.first.products.each do| prod | %>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <%= link_to products_show_path(id:prod.id) do %>
                  <%= image_tag prod.product_images.first.prod_img.url %>
                <% end %>
                <h2>$<%= prod.price%></h2>
                <p><%= prod.name%></p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


