<div class="panel-group category-products" id="accordian"><!--category-productsr-->
  <div class="panel panel-default">
    <% @categories.each do |category| %>
      <div class="panel-heading">
        <h4 class="panel-title">
            <%= link_to categories_path(id:category.id)do %><%= category.name %><% end %>
          <a data-toggle="collapse" data-parent="#accordian" href="#<%= category.name %>">
            <%# if @parents.include? category.id %>
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
          </a>
        </h4>
      </div>
      <div id="<%= category.name %>" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <%category.subcategories.each do |sub | %>
              <li>
                <%= link_to subcategories_show_path(id: sub.id) , id:sub.id, data: { remote: true } do %>
                  <%= sub.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

