<div class="features_items"><!--features_items-->
  <h2 class="title text-center">Features Items</h2>
    <% @products.each_with_index do |prod , index|%>
    <% if prod.brand.name == "Nike" %>
      <div class="col-sm-4">
        <div class="product-image-wrapper">
          <div class="single-products"> 
              <div class="productinfo text-center " >
                <%= image_tag prod.product_images.first.prod_img.url %>
                <h2>$<%= prod.price%></h2>
                <p><%= prod.name%></p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>
              <div class="product-overlay">
                <div class="overlay-content">
                  <h2>$<%= prod.price%></h2>
                  <p><%= prod.name%></p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
              </div>
          </div>
          <div class="choose">
            <ul class="nav nav-pills nav-justified">
              <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
              <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>