<!--header-->
<header id="header">
  <div class="header-middle"><!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left">
            <a href="/"><img src="/assets/home/logo.png" alt="" /></a>
          </div>&#169;
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li><% if user_signed_in? %>
                <% if current_user.permission? %>
                  <p class="pull-right btn btn-default"> <%= link_to 'Admin', '/admin' %> </p>
                  <% end %>
                <% end %>
              </li>
              <li><% if user_signed_in? %>
                <% if current_user.permission == true %>
                  <%= link_to reports_index_path do%> Reports <%end%>
                  <% end %>
                <% end %>
              </li>
              <li>
                <% if user_signed_in? %>
                  <a classs="dropdown-toggle" data-toggle="dropdown"> Account</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to orders_path do %>My Orders<% end %></li>
                    <li><%= link_to edit_user_path(id: current_user)  do %>Edit Account<% end %> </li>
                    <li><%= link_to addresses_path do %>Manage Addresses<% end %></li>
                    <li><%= link_to edit_user_registration_path(current_user.id) do %>Change Log In credentials <% end %></li>
                  </ul>
                <% end %>
              </li>
              <li>
                <% if user_signed_in? %> 
                  <%= link_to wishlists_path do %>
                    <i class="fa fa-star"></i> Wishlist
                  <% end %>
                <% end %>
              </li>
              <li id = "cart_count" title="All items added in cart">
                <%= link_to carts_index_path do %>
                  <i class="fa fa-shopping-cart"></i>
                  Cart(<% if current_user.present? %><%= cart_count %> <% else %> <%= session_count %> <% end %>)
                <% end %>
              </li>
              <li>
                <% if user_signed_in? %>
                  <li><%= link_to destroy_user_session_path, method: :delete do %>
                     LogOut 
                    <% end %>
                  </li>
                <% else %>
                  <li><%= link_to new_user_session_path do %> Log In <% end %></li>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-middle-->
  <!-- <div id="flash">
    <%# flash.each do |key, value| %>
      <div class="alert alert-success text-center"><%#= value %></div>
    <%# end %>
  </div> -->
</header>