<body>
  <%= render 'header' %>
  <%= render 'slider' %>
  <section>
    <div class="container" id = "container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            <h2>Category</h2>
            <!--category-products-->
            <%= render "category_products"%>
            <!--brands_products-->
            <%= render "brands" %>
            <div class="shipping text-center"><!--shipping-->
              <img src="/assets/home/shipping.jpg" alt="" />
            </div><!--/shipping-->
          </div>
        </div>
        <div class="col-sm-9 padding-right" id="show_prod">
          <!--features_items-->
          <%#= render 'featured_items'%>
          <%= render "featured_items"%>
          <%#= render template:"products/show"%>
          <!--category-tab-->
          <%#= render "category_tab_items" %>
          <%#= render template: "categories/show"%>
          <%= render "category_tab"%>
          <!--recommended_items-->
          <div id="recommended">
            <%= render 'recommended_items' %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer"><!--Footer-->
    <%= render'footer' %>
  </footer><!--/Footer-->
</body>
