<body>
  <%= render "/home/header"%>
  <h2>Order Created </h2>
  <section id="cart_items">
    <div class="container">
      <div class="breadcrumbs">
        <ol class="breadcrumb">
          <!-- <li><a href="/">Home</a></li> -->
          <!-- <li class="active">Shopping Cart</li> -->
        </ol>
      </div>
      <div class="table-responsive cart_info">
        <table class="table table-condensed">
          <thead>
            <tr class="cart_menu">
              <td class="image">Item</td>
              <td class="description"></td>
              <td class="price">Price</td>
              <td class="quantity">Quantity</td>
              <td class="total">Total</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <% @order_detail_products.each do |item|%>
              <tr >
                <td class="cart_product">
                  <a href=""><%= image_tag item.product.product_images.first.prod_img.url %></a>
                </td>
                <td class="cart_description">
                  <h4><a href=""><%= item.product.name %></a></h4>
                  
                </td>
                <td class="cart_price">
                  <p>$<%= item.product.price %></p>
                </td>
                <td class="cart_quantity">
                  <%= item.quantity%>
                </td>
                <td class="cart_total">
                  <p class="cart_total_price" id = "price_<%= item.id%>" >
                  $<%= (item.product.price*item.quantity)  %></p>
                </td>
              </tr>
            <% end %>
          </tbody>
        <div class="pull-right">
          <p><b>Shipping Charges:</b> $<%= @order.shipping_charges%></p>
          <p><b>Grand total:</b> $<%= @order.grand_total%></p>
          
        </div>
        </table>
      </div>
    </div>
    
  </section> <!--/#cart_items-->

  <footer id="footer">
    <%= render "/home/footer"%>
  </footer>
</body>