<body>
  <%= render "/home/header"%>
  <div class="container">
    <section id="cart_items">
      <div class="container">
        <div class="table-responsive cart_info">
          <% @orders.each do |order|%>
            <% if !order.order_details.empty? %>
              <div class="panel-group">
                <div class="panel panel-default order_details_margin">
                  <div class="panel-heading">
                      <div class="row">
                        <div class="col-sm-2">
                          <p>Order <%= order.id%></p>  
                          <%= link_to details_order_path(order.id) do%> Show Details <% end %>
                        </div>
                        <div class="col-sm-3">
                          <p>Total Amount</p>
                          $<%= order.grand_total%> (incl. tax + shipping charges)
                        </div>
                        <div class="col-sm-2">
                          <p>Ship To</p>
                          <p><%= order.address.address_1%>,<%= order.address.address_2%>,</p>
                          <p><%= order.address.city%>,<%= order.address.state%>,</p><%= order.address.country%>
                        </div>
                        <div class="col-sm-2">
                          <p>Ordered</p>
                          <%= order.created_at.strftime("%d/%m/%Y,  %H:%M:%S")%>
                        </div>
                        <!-- <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="70"
                          aria-valuemin="0" aria-valuemax="100" style="width:10%">
                            <span class="sr-only">70% Complete</span>
                          </div>
                        </div> -->
                        <div>
                          <p>Order Status:  <%= order.status%></p>
                          <div class="progress">
                            <% if order.status == "Ordered" %>
                            <div class="progress progress-bar progress-bar-success progress-bar-striped active" style="width:33.3%;">
                            </div>

                            <% elsif order.status == "Shipped" %>
                            <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:66.6%;">
                            </div>

                            <% elsif order.status == "Delivered" %>
                            <div class="progress progress-bar progress-bar-success progress-bar-striped active" style="width:100%;">
                            </div>

                            <% elsif order.status == "Cancelled" %>
                            <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width:100%;">
                            </div>
                            <% end %>
                          </div>
                        </div>
                        <!-- <div>
                          <p>Order Status</p>
                          <%#= order.status%>
                        </div> -->
                      </div>  
                    </div>
                    <div>
                      <% order.order_details.each do |item|%>
                        <table class="table table-condensed">
                          <tbody>
                            <tr>
                              <td class="col-sm-3"><%= image_tag item.product.product_images.first.prod_img.url, size: "100x100"  %></td>
                              <td class="col-sm-3"><%= item.product.name %><br>$<%= item.product.price %></td>
                              <td><b>quantity: </b><%= item.quantity%></td>
                            </tr>
                          </tbody>
                        </table>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </section> <!--/#cart_items-->
    <div class="container">
      <%= line_chart User.group_by_day(:created_at).count %>
      <%= column_chart Order.group_by_month_of_year(:created_at, format: "%a").count %>
      <%= pie_chart Order.group_by_day(:created_at).count %>
    </div>
  </div>
  <%= render '/home/footer'%>
</body>