<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">User</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
        <Cell><Data ss:Type="String">Coupon</Data></Cell>
        <Cell><Data ss:Type="String">Payment Gateway</Data></Cell>
        <Cell><Data ss:Type="String">Shipping Charges</Data></Cell>
        <Cell><Data ss:Type="String">Grand Total</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Created At</Data></Cell>
      </Row>
    <% @orders.each do |order| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= order.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.user.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.address_id %></Data></Cell>
        <Cell><Data ss:Type="string"><%= order.coupon_id %></Data></Cell>
        <Cell><Data ss:Type="string"><%= order.payment_gateway.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= order.shipping_charges %></Data></Cell>
        <Cell><Data ss:Type="number">$<%= order.grand_total %></Data></Cell>
        <Cell><Data ss:Type="string"><%= order.status %></Data></Cell>
        <Cell><Data ss:Type="datetime"><%= order.created_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>