<div class="total_area">
  <ul>
    <li>Cart Sub Total <span>
      $ <%= @a %>
    </span></li>
    <li> Discount:<span> <%if @discount.present?%> <%= @discount%>% <% else %> none <% end %></span></li>

    <%if @discount.present?%>
      <li> Discounted Amount:  <span>$<%= @a*@discount/100%>
        <% @discount_amount = @a*@discount/100 %>
        <% @a = @a-@discount_amount %>
      </span></li>
    <% end %>
    <li><p>GST</p>
      (CGST + SGST) <span>$ <%= @a*0.1%>
      <% @tax = @a*0.1 %>
    </span></li>

    <li>Shipping Cost <span><% if @a<200 %>$ <%=@shipping_cost%> <% else %> Free <% end %></span></li>
    <li>Total <span>$ <% if @a<200 %> 
      <%= @a + (@tax) +@shipping_cost %>
      <% else %> <%= @a + @tax  %> 
      <% end %></span>
    </li>
  </ul>
  <%= link_to orders_step1_path(current_user.id), :class=>"btn btn-default update" do %>Check Out <% end %>
</div>
