<div class="total_area">
  <ul>
    <li>Cart Sub Total <span>
      $ <%= @total %>
    </span></li>
    <li> Discount:<span> <%if @discount.present?%> <%= @discount%>% <% else %> none <% end %></span></li>

    <%if @discount.present?%>
      <li> Discounted Amount:  <span>$<%= @total*@discount/100%>
        <% @discount_amount = @total*@discount/100 %>
        <% @total = @total-@discount_amount %>
      </span></li>
    <% end %>
    <li><p>GST</p>
      (CGST + SGST) <span>$ <%= @total*0.1%>
      <% @tax = @total*0.1 %>
    </span></li>
    <li>Shipping Cost <span><% if @total<200 %>$ <%=@shipping_cost%> <% else %> Free <% end %></span></li>
    <li>Total <span>$ <% if @total<200 %> 
      <%= @total + @tax + @shipping_cost %>
      <% else %> <%= @total + @tax  %> 
      <% end %></span>
    </li>
  </ul>
    <% if current_user.present? %>
      <% if @total > 1 %>
        <%= link_to orders_step1_path, method: "post", :class=>"btn btn-default update" do %>Check Out <% end %>
      <% else %>
        <%= link_to root_path, :class=>"btn btn-default update" do %>Check Out <% end %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, :class=>"btn btn-default update" do %> Checkout <% end %>
    <% end %>
</div>
  
