
<body>
  <%= render 'home/header' %>
  <% if current_user.present? %>
    <%= render 'cart_items'%>
  <% else%>
    <%= render 'temp_cart'%>
  <% end %>
  <%= render 'do_action'%>
  <div> 
    
  </div>
  <footer id="footer"><!--Footer-->
    <%= render'home/footer' %>
  </footer>
</body>