<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Wishlist</li>
      </ol>
    </div>
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td colspan="8"></td>
          </tr>
        </thead>
        <tbody>
          <% @wishlist_items.each do |item|%>
            <% if item.user_id == @user %>
              <tr>
                <td class="cart_product">
                  <a href=""><%= image_tag item.product.product_images.first.prod_img.url, :class => "img-circle" , :height => "200px" %></a>
                </td>
                <td class="cart_description">
                  <h4><a href=""><%= item.product.name %></a></h4>
                  
                </td>
                <td class="cart_price">
                  $<%= item.product.price %>
                </td>
                <td>
                <!-- <span title="Click to add to your cart"  data-no-turbolink> -->
                  <%= link_to carts_create_path(product_id: item.product.id), method:"post", id:item.product.id, data: { remote: true }, :class=>"btn btn-default add-to-cart" do %>
                    <i class="fa fa-shopping-cart"></i>Add to cart
                  <% end %>
                  <!-- </span> -->
                </td>
                <td class="cart_delete">
                  <%= link_to wishlist_path(id:item.id), method:"delete", :class=>"cart_quantity_delete" do %> <i class="fa fa-times"></i> <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section> <!--/#cart_items-->
