<div class="product-details"><!--product-details-->
  <div class="col-sm-5">
    <div class="view-product">
      <%= image_tag @product.product_images.first.prod_img.url %>
    </div>
    <div id="similar-product" class="carousel slide col-sm-7" data-ride="carousel">
      <div class="carousel-inner">
        <%# @product.product_images.each_slice(2).with_index do |image, i| %>
        <% @product.product_images.each_with_index do |image, i| %>
          <div class="item <%= 'active' if i == 0 %>">
            <%# image.each do |img|%>
              <%= image_tag image.prod_img.url %>
            <%# end %>
          </div>                      
        <% end %>
      </div>

      <!-- Controls -->
      <a class="left item-control" href="#similar-product" data-slide="prev">
      <i class="fa fa-angle-left"></i>
      </a>
      <a class="right item-control" href="#similar-product" data-slide="next">
      <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="product-information"><!--/product-information-->
      <img src="/assets/product-details/new.jpg" class="newarrival" alt="" />
      <h2><%= @product.name%></h2>
      <p>Web ID: 1089772</p>
      <img src="/assets/product-details/rating.png" alt="" />
      <span>
        <span>US $<%= @product.price%></span>
        <label>Quantity:</label>
        <input type="text" value="3" id="quant" />
         <p class="btn btn-default add-to-cart" data-no-turbolink>
          <i class="fa fa-shopping-cart"></i>
          <%= link_to carts_create_path(product_id: @product.id), id:@product.id, data: { remote: true } do %>
          Add to cart
          <% end %>
        </p>
      </span>
      <p><b>Availability:</b> <% if  @product.quantity.present? && @product.quantity > 0 %>  In Stock <% else %> Out of Stock <% end %></p>
      <p><b>Condition:</b> New</p>
      <p><b>Brand:</b> <%= @product.brand.name %></p>
      <% @product.product_attribute_assocs.each do |paa| %>
        <p><b><%= paa.product_attribute.name %>:</b> <%= paa.product_attribute_value.attr_value %></p>
      <% end %>
      <a href=""><img src="/assets/product-details/share.png" class="share img-responsive"  alt="" /></a>
    </div><!--/product-information-->
  </div>
</div><!--/product-details-->

