<%= render '/home/header' %>
<br>
<h1 class="container">Reports</h1>
<br><br>
<div class="container">
  <ul class="nav nav-tabs">
    <li id="sales" class="active"><%= link_to "Sales Report", reports_sales_report_path ,data:{remote: true,} %></li>
    <li id="customer"><%= link_to "Customer Registered", reports_customer_registered_path, data:{remote: true} %></li>
    <li id="coupons"><%= link_to "Coupons used", reports_coupons_used_path, data:{remote: true} %></li>
  </ul>
  <div id="report_chart">
    <div class="container">
      <p class="report_title">Sales Report</p><br>
      <p>
        Download:
        <%= link_to "CSV", orders_path(format: "csv") %> |
        <%= link_to "Excel", orders_path(format: "xls") %>
      </p>
      <br><br>
      <%= area_chart Order.group_by_day(:created_at).count, download: "Sales Chart" %>
    </div>
  </div>
</div>